.correct-selection{
    color: #5bdd0f;
}
.incorrect-selection{
    text-decoration: line-through;
    color: red;
}

.ILQ-SUMMARY{
    width: 90%;
    height: 60vh;
    padding: 10px;
    border-radius: 5px;

}

.currentOptionsContent{
    display: flex;
    justify-content: right;
}

.submit-button{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: blueviolet;
    padding: 5px;
    text-align: center;
    justify-content: center;
    margin-top: 3%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


.ILQ_USER_SELECT{
    /* min-height: fit-content; */
    width: 15rem;
    white-space: pre-wrap;
}

.SPEAKER_AND_AUDIO{
    display: inline-flex;

}

.DIALOG_AUDIO_ANSWER{
    display: grid;
    grid-auto-flow: column;
    justify-self: start;
}

.USER_ANSWER{
    width: 20rem;
    border: 2px solid;
    border-radius: 5px;
    padding: 2px;
    justify-self: right;
    margin-bottom: 2rem;
    
}
.AUDIO_ANSWER{
    width: 20rem;
    height: 2.2em;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 1rem;
    justify-self: left;

    justify-items: left;
}


.transitionClass{
    transition: all 0.3s ease-in;
}

.dialog-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 180px);
    position: relative;
    overflow: hidden;
}

.scrollable-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column; 
}