.TIME_LINE{
    height: 2% ;
    position: absolute;
    top: -0.25rem ;
    justify-self: start;
    border: 2px solid black;
    /* top: 1.65rem; */
    left: 0rem;
}

.TIME_LINE_NOT_STARTED{
    z-index: 999;
    background-color: transparent;
}

.TIME_LINE_STARTED{
    z-index: 1005;
    background-color: lightsteelblue;

}