.sidebar-button{
    position: absolute;
    border: none;
    background-color: lightsalmon;
    top: 0.5rem;
    left: -0.5rem;
    padding: 5px;
    padding-top: 1px;
    border: solid 2px black;
    border-radius: 5px;
    z-index: 9999;
}

.sidebar{
    transition: all 0.3s ease;
}

.sidebar-expanded {
    right: 0;
    transform: translateX(0);
}

.sidebar-expanded-overlap{
    background-color: white;
    height: 100%;
    position: absolute;

    z-index: 1001;            

}

.sidebar-collapsed {

    position: fixed;
    width: 0 !important;
    visibility: hidden;
    opacity: 0;

    transform: translateX(-110%);

}


.backdrop {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999;            
}